<!-- Nav Bar -->
<div id="nav_bar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/inventory">INVENTORY</a></li>
        <li><a href="/jobs">JOBS</a></li>
    </ul>
</div>
<!-- Page Icon -->
<div>
<img class="page_icon" src="images/employees.jpg">
<h1>Databar Employees</h1>
</div>
<!-- Order By -->

<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="first_name">First Name</option>
    <option value="last_name">Last Name</option>
    <option value="job_code">Job Title</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<!-- Employee Table  -->

<p>Browse existing employeees or update/delete an employees..</p> 
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">First Name</th>
            <th style="border: 1px solid black">Last Name</th>
            <th style="border: 1px solid black">Telephone</th>
            <th style="border: 1px solid black">Start Date</th>
            <th style="border: 1px solid black">Job Title</th>
        </tr>
    </thead>
    <!-- Loops through results object passed from index.js  -->
    {{#each results}}
    <tr>
        <td style="border: 1px solid black"><div contenteditable>{{this.first_name}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.last_name}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.telephone}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.start_date}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.job_title}}</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
    {{/each}}
    

    <tbody id="header">

    </tbody>
</table>
<br>


<br>

<!-- Employee Form  -->
<fieldset>
<legend>Add Employee</legend>
<form id="employees" action="/employees" method="post">
    First Name:
    <input id="first_name" type="text" name="first_name"><br>
    Last Name:
    <input id="last_name" type="text" name="last_name"><br>
    Telephone:
    <input id="telephone" type="text" name="telephone"><br>
    Start Date:
<<<<<<< HEAD
    <input type="start_date" name="datevalue" id="start_date"><br>
=======
    <input type="date" name="start_date" id="start_date"><br>
>>>>>>> 0c17703910ad0e4f1340839aee9218c2ee661467
    Job:
    <!-- Loops through jobs object passed from index.js  -->
    <select id="job_code" name="job_code">
        {{#each jobs}}
        <option value={{this.job_code}}>{{this.job_title}}</option>
        {{/each}}</select><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>

