<!-- Nav Bar -->
<div id="nav_bar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a id="cur_tab" href="">EMPLOYEES</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/inventory">INVENTORY</a></li>
        <li style="border-right: 2px solid;"><a href="/jobs">JOBS</a></li>
    </ul>
</div>
<!-- Page Icon -->
<div>
<img class="page_icon" src="/images/employees.jpg">
<h1>Databar Employees</h1>
</div>

<!-- Filter By -->
<form action='' method=''>
  <label for="filter_by">Filter By:</label>
  <select name="job_id" id="filter_by">
    {{#each jobs}}
    <option id= 'filter_by_value' value="{{this.job_code}}">{{this.job_title}}</option>
    {{/each}}
  </select>
  <input class="filterButton" type="button" value="Filter" onclick="filterEmployees()">
  <input type="button" value="Clear Filter" onclick="location.href='/employees'">
</form>

<!-- Employee Table  -->
<p>Browse existing employeees or edit/delete an employees..</p> 
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Employee ID</th>
            <th style="border: 1px solid black">First Name</th>
            <th style="border: 1px solid black">Last Name</th>
            <th style="border: 1px solid black">Telephone</th>
            <th style="border: 1px solid black">Start Date</th>
            <th style="border: 1px solid black">Job Title</th>
        </tr>
    </thead>
    <!-- Loops through results object passed from index.js  -->
    <tbody id="header">
    {{#each results}}
    <tr>
        <td style="border: 1px solid black"><div contenteditable>{{this.employee_ID}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.first_name}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.last_name}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.telephone}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.start_date}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.job_title}}</div></td>
         <td><button onclick="deleteItem({{this.employee_ID}})">Delete</button></td>
         <td><a href="/updateEmp/{{this.employee_ID}}">Edit</a> 
    </tr>
    {{/each}}
    </tbody>
</table>
<br>

<br>

<!-- Employee Form  -->
<fieldset>
<legend>Add Employee</legend>
<form id="employees" action="/employees" method="POST">
    First Name:
    <input id="first_name" type="text" name="first_name" required><br>
    Last Name:
    <input id="last_name" type="text" name="last_name" required><br>
    Telephone:
    <input id="telephone" type="text" name="telephone" required><br>
    <span id="error"></span>
    Start Date:
    <input type="date" name="start_date" id="start_date" required><br>
    Job:
    <!-- Loops through jobs object passed from index.js  -->
    <select id="job_code" name="job_code">
        {{#each jobs}}
        <option value={{this.job_code}}>{{this.job_title}}</option>
        {{/each}}</select><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>
<script src="{{this.events}}"></script>

