<!-- Nav Bar -->
<div id="nav_bar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/employees">EMPLOYEES</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/inventory">INVENTORY</a></li>
        <li><a href="/jobs">JOBS</a></li>
    </ul>
</div>
<!-- Page Icon -->
<div>
    <img class="page_icon" src="images/events.jpg">
</div>
    <h1>Databar Events</h1>

<!-- Order By -->
<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="event_name">Event Name</option>
     <option value="guest_count">Guest Count</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<p>Browse existing events or update/delete an event..</p> 
<!-- Events Table  -->
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Event Name</th>
            <th style="border: 1px solid black">Event Date</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Guest Count</th>
            <th style="border: 1px solid black">Drink Special</th>
        </tr>
    </thead>
        <!-- Loops through employees object passed from index.js  -->
        {{#each results}}
        <tr>
        <td style="border: 1px solid black"><div contenteditable>{{this.event_name}}</div></td> <!-- Event -->
        <td style="border: 1px solid black"><div contenteditable>{{this.event_date}}</div></td> <!-- Event Date -->
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.employee_1}}</div></td> <!-- Employee 1 -->
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.employee_2}}</div></td> <!-- Employee 2 -->
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.employee_3}}</div></td> <!-- Employee 3 -->
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.employee_4}}</div></td> <!-- Employee 4 -->
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.employee_5}}</div></td> <!-- Employee 5--> 
        <td style="border: 1px solid black"><div contenteditable>{{this.guest_count}}</div></td> <!-- Guest Count -->
        <td style="border: 1px solid black"><div contenteditable>{{this.drink_special}}</div></td> <!-- Drink Special -->
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
        </tr>
        {{/each}}

    <tbody id="header">

    </tbody>


</table>

<br>
<!-- Events Form  -->
<fieldset>
<legend>Add Event</legend>
<form id="employees">
    Event Name:
    <input id="event_name" type="text" name="text"><br>
    Event Date:
    <input type="date" name="event_date" id="event_date"><br>
    <!-- Loops through Employees object passed from index.js  -->
    Employee:
        <select id="employee_ID" name="employee_1">
        <option value=""></option> <!-- NULL Option -->
        {{#each employees}}
        <option value={{this.employee_ID}}>{{this.first_name}} {{this.last_name}}</option>
        {{/each}}</select><br>
    <!-- Loops through Employees object passed from index.js  -->
    Employee:
        <select id="employee_ID" name="employee_2">
        <option value=""></option> <!-- NULL Option -->
        {{#each employees}}
        <option value={{this.employee_ID}}>{{this.first_name}} {{this.last_name}}</option>
        {{/each}}</select><br>
    <!-- Loops through Employees object passed from index.js  -->
    Employee:
        <select id="employee_ID" name="employee_3">
        <option value=""></option> <!-- NULL Option -->
        {{#each employees}}
        <option value={{this.employee_ID}}>{{this.first_name}} {{this.last_name}}</option>
        {{/each}}</select><br>
    <!-- Loops through Employees object passed from index.js  -->
    Employee:
        <select id="employee_ID" name="employee_4">
        <option value=""></option> <!-- NULL Option -->
        {{#each employees}}
        <option value={{this.employee_ID}}>{{this.first_name}} {{this.last_name}}</option>
        {{/each}}</select><br>
      <!-- Loops through Employees object passed from index.js  -->
    Employee:
        <select id="employee_ID" name="employee_5">
        <option value=""></option> <!-- NULL Option -->
        {{#each employees}}
        <option value={{this.employee_ID}}>{{this.first_name}} {{this.last_name}}</option>
        {{/each}}</select><br>

    Guest Count:
    <input id="guest_count" type="integer"><br>

    Drink Speial:
    <!-- Loops through drinks object passed from index.js  -->
    <select id="drink_name" name="menu_id">
        <option value=""></option> <!-- NULL Option -->
        {{#each drinks}}
        <option value={{this.menu_item}}>{{this.drink_name}}</option>
        {{/each}}</select><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>

