<!-- Nav Bar -->
    <div id="nav_bar">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/employees">EMPLOYEES</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/jobs">JOBS</a></li>
      </ul>
    </div>    
<!-- Page Icon -->    
    <div>
       <img class="page_icon" src="images/inventory.jpg">
    </div>
       <h1>Databar Inventory</h1>
       
<!-- Order By  -->
{{!-- 
<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="Whiskey/Bourbon">Whiskey/Bourbon</option>
    <option value="Tequila/Mezcal">Tequila/Mezcal</option>
    <option value="Vodka">Vodka</option>
    <option value="Gin">Gin</option>
    <option value="Rum">Rum</option>
    <option value="Beer">Beer</option>
    <option value="Wine">Wine</option>
    <option value="Mixer">Mixer</option>
    <option value="Misc">Misc</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br> --}}

<!-- Inventory Table -->
<p>Browse existing inventory or update/delete an inventory..</p> 
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Product ID</th>
            <th style="border: 1px solid black">Name</th>
            <th style="border: 1px solid black">Category</th>
            <th style="border: 1px solid black">Cost/Bottle</th>
            <th style="border: 1px solid black">Cost/Case</th>
            <th style="border: 1px solid black">Distributor</th>
        </tr>
    </thead>
     {{#each results}}
    <tr>
        <td style="border: 1px solid black"><div contenteditable>{{this.product_ID}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.name}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.category}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>${{this.btl_cost}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{isNullInventory this.cse_cost}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.distributor}}</div></td>
        <td><button onclick="deleteItem({{this.product_ID}})">Delete</button></td>
        <td><button>Update</button></td>
    </tr>
    {{/each}}
    
    <tbody id="header">

    </tbody>


</table>

<br>
<!-- Inventory Form -->
<fieldset>
<legend>Add Inventory Item</legend>
<form id="inventory" action="/inventory" method="POST">
    Name:
    <input id="name" type="text" name="name" required><br>
    Category:
    <select name="category" id="category">
        <option value="Whiskey/Bourbon">Whiskey/Bourbon</option>
        <option value="Tequila/Mezcal">Tequila/Mezcal</option>
        <option value="Vodka">Vodka</option>
        <option value="Rum">Rum</option>
        <option value="Beer">Beer</option>
        <option value="Wine">Wine</option>
        <option value="Mixer">Mixer</option>
        <option value="Misc">Misc.</option>    
    </select><br>
    Cost/Bottle:
    <input id="btl_cost" type="text" name="btl_cost"><br>
    Cost/Case:
    <input id="cse_cost" type="text" name="cse_cost"><br>
    Distributor:
    <input id="distributor" type="text" name="distributor" required><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>

