<!-- Nav Bar -->
    <div id="nav_bar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/events">EVENTS</a></li>
            <li><a href="/employees">EMPLOYEES</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/inventory">INVENTORY</a></li>
        </ul>
    </div>
    <!-- Page Icon -->
    <div>
    <img class="page_icon" src="/images/jobs.jpg">
    </div>
    <h1>Jobs at Databar</h1>

<!-- Order By  -->
{{!-- <form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="job_title">Title</option>
    <option value="hourly_rate">Hourly Rate</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br> --}}

<p>Browse existing jobs or edit/delete an job..</p> 

<!-- Menu Table -->
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Job ID</th>
            <th style="border: 1px solid black">Job Title</th>
            <th style="border: 1px solid black">Hourly Rate</th>
        </tr>
    </thead>
        {{#each results}}
            <tr>
            <td style="border: 1px solid black"><div contenteditable>{{this.job_code}}</div></td>
            <td style="border: 1px solid black"><div contenteditable>{{this.job_title}}</div></td>
            <td style="border: 1px solid black"><div contenteditable>{{this.hourly_rate}}</div></td>
            <td><button onclick="deleteItem({{this.job_code}})">Delete</button></td>
            <td><button onclick="updateItem({{this.job_code}})">Update</button></td>
            </tr>
        {{/each}}
    <tbody id="header">

    </tbody>


</table>

<br>
<!-- Jobs Form -->
<fieldset>
<legend>Add Job Description</legend>
<form id="addJob" action="/jobs" method="POST">
    Job Title:
    <input id="job_title" type="text" name="job_title" required><br>
    Hourly Rate:
    <input id="hourly_rate" type="decimal" name="hourly_rate" required><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>

