<!-- Nav Bar -->
<div id="nav_bar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/employees">EMPLOYEES</a></li>
        <li><a href="/inventory">INVENTORY</a></li>
        <li><a href="/jobs">JOBS</a></li>
    </ul>
</div>    
<!--Page Icon -->
<div>
<img class="page_icon" src="images/drinks.jpg">
</div>
<h1>Databar Menu</h1>

<!-- Order By  -->

{{!-- <form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="Whiskey/Bourbon">Whiskey/Bourbon</option>
    <option value="Tequila/Mezcal">Tequila/Mezcal</option>
    <option value="Vodka">Vodka</option>
    <option value="Gin">Gin</option>
    <option value="Rum">Rum</option>
    <option value="Beer">Beer</option>
    <option value="Wine">Wine</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br> --}}

<!-- Menu Table -->
<p>Browse existing drinks or update/delete an drinks..</p> 
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Menu Item</th>
            <th style="border: 1px solid black">Drink Name</th>
            <th style="border: 1px solid black">Ingredient 1</th>
            <th style="border: 1px solid black">Ingredient 2</th>
            <th style="border: 1px solid black">Ingredient 3</th>
            <th style="border: 1px solid black">Ingredient 4</th>
            <th style="border: 1px solid black">Ingredient 5</th>
            <th style="border: 1px solid black">Price</th>
        </tr>
    </thead>
    {{#each results}}
    <tr>
        <td style="border: 1px solid black"><div contenteditable>{{this.menu_item}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.drink_name}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.ingredient_1}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.ingredient_2}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.ingredient_3}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.ingredient_4}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{isNull this.ingredient_5}}</div></td>
        <td style="border: 1px solid black"><div contenteditable>{{this.price}}</div></td>
         <td><button onclick="deleteItem({{this.menu_item}})">Delete</button></td>
        <td><button>Update</button></td>
    </tr>
    {{/each}}
    
    <tbody id="header">

    </tbody>


</table>

<br>
<!-- Inventory Form -->
<fieldset>
<legend>Add Menu Item</legend>
<form id="drinks" action="/menu" method="POST">
    Drink Name:
    <input id="drink_name" type="text" name="drink_name" required><br>

    Ingredient 1:
    <!-- Loops through inventory object passed from index.js  -->
    <select id="ingredient_1" name="ingredient_1">
        {{#each inventory}}
        <option value={{this.product_ID}}>{{this.name}}</option>
        {{/each}}</select><br>

    Ingredient 2:
    <!-- Loops through inventory object passed from index.js  -->
    <select id="ingredient_2" name="ingredient_2">
        <option value=""></option> <!-- NULL Option -->
        {{#each inventory}}
        <option value={{this.product_ID}}>{{this.name}}</option>
        {{/each}}</select><br>

    Ingredient 3:
     <!-- Loops through inventory object passed from index.js  -->
    <select id="ingredient_3" name="ingredient_3">
        <option value=""></option> <!-- NULL Option -->
        {{#each inventory}}
        <option value={{this.product_ID}}>{{this.name}}</option>
        {{/each}}</select><br>

    Ingredient 4:
     <!-- Loops through inventory object passed from index.js  -->
    <select id="ingredient_4" name="ingredient_4">
        <option value=""></option> <!-- NULL Option -->
        {{#each inventory}}
        <option value={{this.product_ID}}>{{this.name}}</option>
        {{/each}}</select><br>

    Ingredient 5:
    <!-- Loops through inventory object passed from index.js  -->
    <select id="ingredient_5" name="ingredient_5">
        <option value=""></option>  <!-- NULL Option -->
        {{#each inventory}}
        <option value={{this.product_ID}}>{{this.name}}</option>
        {{/each}}</select><br>

    Price:
    <input id="price" type="decimal" name="price" required><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>
<br>
