<!-- Nav Bar -->
<div id="nav_bar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/employees">EMPLOYEES</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/inventory">INVENTORY</a></li>
        <li><a href="/jobs">JOBS</a></li>
    </ul>
</div>
<!-- Page Icon -->
<div>
<img class="page_icon" src="/images/employees.jpg">
<h1>Edit Employee</h1>
</div>
<fieldset>
{{#each results}}
<form id="editEmployees" action="/employees/{{this.employee_ID}}" method="POST">
    First Name:
    <input id="first_name" type="text" name="first_name" value="{{this.first_name}}" required><br>
    Last Name:
    <input id="last_name" type="text" name="last_name" value="{{this.last_name}}" required><br>
    Telephone:
    <input id="telephone" type="text" name="telephone" value="{{this.telephone}}" required><br>
    <span id="error"></span>
    Start Date:
    <input type="date" name="start_date" id="start_date" value="{{stringDate this.start_date}}" required><br>
    Job:
    <!-- Loops through jobs object passed from index.js  -->
    <select id="job_code" name="job_code" value="{{this.job_code}}" required>
        {{/each}}
        {{#each jobs}}
        <option value={{this.job_code}}>{{this.job_title}}</option>
        {{/each}}</select><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>
<script src="{{this.events}}"></script>